<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../build/ng-schema.js"></script>
        <script src="app.js"></script>
        <style>
          .ng-dirty. ng-invalid{ background: red; }
          .ng-dirty. ng-valid{ background: lightgreen; }

        </style>
    </head>
    <body  >
      <h1>Order</h1>

        <pre>
  SCHEMA: {
    _id: Number,
    customer: { type: String, maxlength: 10,  minlength: 3, default:'testtesttesttest', required:true},
    date: { type: Date, default: new Date()},
    level: { type: Number, max: 30, default: 200},
    delivered: {type: Boolean, default:true},
    test: {type: String, minlength:2, maxlength:5, pattern:/.{3,4}/, default:'qqqqqqqq'},
    comment: {type: String, default: 'asdfas asdfasdf asdf'}
  }
        </pre>

      <div ng-controller="OrderCtrl as order">
        <form model-schema="mySchema" form-data-prefix="order" name="form.order">
         <!--testx: <input id="testx" name="testx" ng-model="order.testx" type="text" minlength="2" ng-minlength="2" maxlength="5" ng-maxlength="5" pattern=".{3,4}" ng-pattern="/.{3,4}/" value="wqrrewrwe"><br>
         modelValue: {{form.order.testx.$modelValue}}<br>
         valid: {{form.order.testx.$valid}}<br>
         error: {{form.order.testx.$error}}<br>
value: {{order.testx}}<br>-->
         <br>
         test: <input id="test" name="test" ng-model="order.test"/><br>
         modelValue: {{form.order.test.$modelValue}}<br>
         valid: {{form.order.test.$valid}}<br>
         error: {{form.order.test.$error}}<br>
         value: {{order.test}}<br>
         validators: {{form.order.test.$validators}}<br>
         formatters: {{form.order.test.$formatters}}<br>
         parsers: {{form.order.test.$parsers}}<br>

        <br>

         <hr>
         _id: <input  ng-model="order._id" required maxLength="15"><br>
         Customer<input ng-model="order.customer" >{{order.customer}}<br>
          Date:<input ng-model="order.date">{{order.date}}<br>
          Level:<input ng-model="order.level" ng-max="20">{{order.level}}<br>
          Comment:<textarea name="comment" ng-model="order.comment"></textarea><br>{{order.comment}} <br>
          Type:<select ng-model="order.type" id="sel">
          </select>{{order.type}}<br>
         Delivered:<input type="checkbox" ng-model="order.delivered">{{order.delivered}}<br>
          <br>
          <input type="submit">
          <br>


        </form>
        <br>
        <br>
      </div>


    </body>
</html>
